html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

form {
  margin-top: 20px;
}

.green {
  background-color: rgb(30, 241, 30);
}

.gray {
  background-color: #f5f3f3;
}
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

/* --- Tablet and Larger Screens --- */
@media screen and (min-width: 768px) {
  footer {
    font-size: 14px;
    width: 400px;
  }

  .intro {
    width: 400px;
  }
}

/* mobile first */
footer {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  margin-bottom: 15px;
  width: 300px;
}

button {
  background-color: red;
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

input {
  border-radius: 4px;
  padding: 5px;
  outline: silver;
  text-transform: uppercase;
  font-size: 16px;
}

.intro {
  text-align: left;
  width: 300px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.grid > div {
  min-width: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;

  border: solid 2px rgb(108, 107, 107);
}

.grid.small > div {
  min-width: 30px;
  width: 30px;
  font-size: 24px;
  border: solid 2px rgb(108, 107, 107);
}

.grid,
.grid .small {
  display: flex;
  flex-direction: row; /* Forces items into a single row */
  flex-wrap: nowrap; /* Prevents wrapping to a new line */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically (optional) */
  gap: 4px;
  margin-bottom: 5px;
}
